.containerProdutos {
  display: flex;
  justify-content: center;
  gap: 89px;
  margin-top: 70px;
  margin-bottom: 50px;

  div {
    position: relative;
    width: 590px;

    .boxImage {
      width: 590px;
      height: 284px;
      overflow: hidden;
      border-radius: 10px;

      img {
        width: 100%;
      }
    }

    .shadow {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 0px 0px 10px 10px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 85.04%);
      opacity: 0.8;
    }

    .content {
      position: absolute;
      top: 48px;
      left: 39px;
      width: 196px;
      color: #fff;

      h3 {
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 9px;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 32px;
      }
    }
  }
}
